@import url('https://fonts.googleapis.com/css2?family=Yarndings 20');
h1{
    color: Rgb(0,112,255);
    text-align: center;
    margin-bottom: 0;
    margin-top: 30px;
}
h2{
    text-align: center;
    margin-top: 0;
}
a{
    text-decoration: none;
    color:rgb(255,255,255); 
}
img{
    margin-top: 70px;
    margin-bottom: 0;
    margin-left: 0;
}
h3{
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgb(235, 130, 111);
    width: 90px;
    display:inline-block;
    line-height: 25px;
    font-size: 20px;
    text-align: center;
    margin: 25px, 25px, 0, auto;
}
h4{
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgb(59,179,113);
    width: 90px;
    display:inline-block;
    text-size-adjust: 24px;
    line-height: 25px;
    font-size: 20px;
    text-align: center;
    margin: 25px, auto, 0, 25px;
}
h5{
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgb(244, 234, 91);
    width: 90px;
    display:inline-block;
    line-height: 25px;
    font-size: 20px;
    text-align: center;
    margin: -10, 25px, 25px, auto;
}
h6{
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgb(27, 82, 184);
    width: 90px;
    display:inline-block;
    text-size-adjust: 24px;
    line-height: 25px;
    font-size: 20px;
    text-align: center;
    margin: -10, auto, 25px, 25px;
}
.child {
    left: 50%;
    position:relative;
    margin-left: -132px;
  }
.adult {
    left: 50%;
    position:relative;
    margin-left: -132px;
    margin-top: -70px;
}
